{% extends "articulos/base.html" %}

{% block contenido %}
<div style="overflow: hidden;">
    <img src="/media/yo.jpg" alt="My Image" style="float: right; margin-left: 10px" width="320" height="350">
    <div style="float: left; margin-left: 100px;">
      <h1>Un poco más sobre mí</h1>
      <p>Me llamo Sebastian Vallejos. Tengo 18 años recién cumplidos. Soy de Asunción, Paraguay.</p>
      <p>Actualmente estoy cursando la carrera de Ingeniería Informática en la Universidad Católica de Asunción. Además de eso, laburo en el<br>sector de desarrollo de software mobile, específicamente para iOS. Es por ello que este curso me ayudó bastante a potenciar 
      <br>mis conocimientos en el campo y familiarizarme más con la parte de Back-End.</p>
    </div>
  </div>
{% endblock contenido %}
