{% extends "articulos/base.html" %}

{% block contenido %}
<section style="margin-left: 100px; margin-right: 100px;">
  <div class="text article-title" style="font-weight: bold; font-size: 45px; color: black; margin-top: 10px;">
    {{ articulo.titulo }}
  </div>

  <div class="text article-title" style="font-weight: bold; font-size: 25px; color: black; margin-top: -5px;">
    {{ articulo.subtitulo }}
  </div>

  <p>
    {% if 150 > articulo.cuerpo|wordcount %}
      {{ articulo.cuerpo }}
    {% endif %}
    <br>
  </p>
  {% if articulo.imagen %}
    <img src="{{ articulo.imagen.url }}" alt="image-description" style="border-radius: 4%;" height="640" width="800">
  {% else %}
    <img src="/media/articulos/default_articulo.jpg" alt="image-description" style="border-radius: 4%;" height="640" width="800">
  {% endif %}
  <p><br>POR {{articulo.autor.upper}}
  <br>{{ articulo.fecha|date:"j"|upper }} DE {{ articulo.fecha|date:"F"|upper }} DEL {{ articulo.fecha|date:"Y"|upper }}</p>
  <p>
    <br>
    {% if articulo.cuerpo|wordcount > 150 %}
      {{ articulo.cuerpo }}
    {% endif %}
  </p>

<div class="comments-section mt-5">
  <h3 class="mb-3">Comments</h3>

  {% for comment in comments %}
  <div class="comment" style="width: 500px">
    <div class="media mb-4" style="width: 500px">
      <div class="media-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mt-0">
            {% if comment.comentador.avatar %}
              <img src="{{ comment.comentador.avatar.imagen.url }}" alt="User Avatar" class="mr-3 rounded-circle" style="width: 30px; height: 30px;">
            {% else %}
              <img src="/media/avatares/default.jpg" alt="Default Avatar" class="mr-2 rounded-circle" style="width: 30px; height: 30px;">
            {% endif %}
            {{ comment.comentador }}
          </h5>
          {% if user == comment.comentador or user.is_superuser or user.is_staff %}
            <form action="{% url 'eliminar_comentario' comment.id articulo.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="delete-icon" style="margin-right: 20px; margin-top: -20px; border: none; background: none;">
                <i class="bi bi-trash"></i>
              </button>
            </form>
            {% endif %}
        </div>
        <p>{{ comment.cuerpo }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="comment-input mt-4">
  <label for="comment">Deja un comentario:</label>
  <form method="post" action="{% url 'crear_comentario' articulo.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in formulario %}
        <div class="form-group">
          {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Enviar" class="btn btn-primary" />
  </form>
</div>
</section>
{% endblock contenido %}
